@model CarpaccioResult;
@{
    ViewData["Title"] = "Carpaccio Result Page";
}

    <div class="text-center">
        <h1>Result</h1>
        <p>Applied Percentage: @Model.AppliedPercentage%</p>
        <p>Total: £@Model.Total</p>
    </div>